{
<<<<<<< HEAD
<<<<<<< HEAD
=======
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.",
  "servicePath": "",
  "basePath": "",
  "id": "adexperiencereport:v1",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "revision": "20171002",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "ViolatingSitesResponse": {
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      },
      "id": "ViolatingSitesResponse"
    },
    "SiteSummaryResponse": {
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "desktopSummary": {
          "description": "Summary for the desktop review of the site.",
          "$ref": "PlatformSummary"
        },
        "mobileSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the mobile review of the site."
        },
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        }
      },
      "id": "SiteSummaryResponse"
    },
    "PlatformSummary": {
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "lastChangeTime": {
          "type": "string",
          "description": "The last time that the site changed status.",
          "format": "google-datetime"
        },
        "betterAdsStatus": {
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ],
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ],
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string"
        },
        "enforcementTime": {
          "description": "The date on which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B."
          ],
          "description": "The assigned regions for the site and platform.",
          "type": "array",
          "items": {
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B"
            ],
            "type": "string"
          }
        },
        "filterStatus": {
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ],
          "description": "The ad filtering status of the site.",
          "type": "string"
        },
        "underReview": {
          "description": "Whether the site is currently under review.",
          "type": "boolean"
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        }
      },
      "id": "PlatformSummary"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
=======
>>>>>>> Working on getting compiling
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "rootUrl": "https://adexperiencereport.googleapis.com/",
>>>>>>> Initial dep workover
  "ownerDomain": "google.com",
  "name": "adexperiencereport",
  "batchPath": "batch",
  "title": "Google Ad Experience Report API",
  "ownerName": "Google",
  "resources": {
    "sites": {
      "methods": {
<<<<<<< HEAD
<<<<<<< HEAD
        "get": {
          "description": "Gets a summary of the ad experience rating of a site.",
=======
        "list": {
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\".",
=======
        "get": {
          "id": "adexperiencereport.sites.get",
          "path": "v1/{+name}",
          "description": "Gets a summary of the ad experience rating of a site.",
          "httpMethod": "GET",
>>>>>>> Working on getting compiling
          "response": {
            "$ref": "SiteSummaryResponse"
          },
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^sites/[^/]+$",
              "location": "path",
              "description": "The required site name. It should be the site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "flatPath": "v1/sites/{sitesId}"
        }
      }
    },
    "violatingSites": {
      "methods": {
<<<<<<< HEAD
        "get": {
>>>>>>> Initial dep workover
=======
        "list": {
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\".",
>>>>>>> Working on getting compiling
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
<<<<<<< HEAD
          "parameters": {
            "name": {
<<<<<<< HEAD
              "description": "The required site name. It should be the site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report.",
=======
>>>>>>> Initial dep workover
              "required": true,
              "type": "string",
              "pattern": "^sites/[^/]+$",
              "location": "path",
              "description": "The required site name. It should be the site property whose ad experiences\nmay have been reviewed, and it should be URL-encoded. For example,\nsites/https%3A%2F%2Fwww.google.com. The server will return an error of\nBAD_REQUEST if this field is not filled in. Note that if the site property\nis not yet verified in Search Console, the reportUrl field returned by the\nAPI will lead to the verification page, prompting the user to go through\nthat process before they can gain access to the Ad Experience Report."
            }
          },
          "flatPath": "v1/sites/{sitesId}",
          "path": "v1/{+name}",
<<<<<<< HEAD
          "id": "adexperiencereport.sites.get"
        }
      }
    },
    "violatingSites": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ViolatingSitesResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/xapi.zoo"
          ],
          "parameters": {},
          "flatPath": "v1/violatingSites",
          "path": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list",
          "description": "Lists sites with Ad Experience Report statuses of \"Failing\" or \"Warning\"."
=======
          "id": "adexperiencereport.sites.get",
          "description": "Gets a summary of the ad experience rating of a site."
>>>>>>> Initial dep workover
=======
          "parameters": {},
          "flatPath": "v1/violatingSites",
          "path": "v1/violatingSites",
          "id": "adexperiencereport.violatingSites.list"
>>>>>>> Working on getting compiling
        }
      }
    }
  },
  "parameters": {
<<<<<<< HEAD
<<<<<<< HEAD
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
=======
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "upload_protocol": {
=======
    "uploadType": {
>>>>>>> Working on getting compiling
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
<<<<<<< HEAD
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
>>>>>>> Initial dep workover
=======
      "location": "query"
>>>>>>> Working on getting compiling
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "alt": {
<<<<<<< HEAD
<<<<<<< HEAD
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
=======
>>>>>>> Initial dep workover
=======
      "type": "string",
>>>>>>> Working on getting compiling
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
<<<<<<< HEAD
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
=======
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
>>>>>>> Initial dep workover
    },
    "upload_protocol": {
      "type": "string",
<<<<<<< HEAD
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.",
  "servicePath": "",
  "basePath": "",
  "id": "adexperiencereport:v1",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "revision": "20171129",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "PlatformSummary": {
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "enforcementTime": {
          "description": "The date on which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "description": "The assigned regions for the site and platform.",
          "type": "array",
          "items": {
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B."
          ]
        },
        "filterStatus": {
          "description": "The ad filtering status of the site.",
          "type": "string",
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ]
        },
        "underReview": {
          "description": "Whether the site is currently under review.",
          "type": "boolean"
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "description": "The last time that the site changed status.",
          "format": "google-datetime",
          "type": "string"
        },
        "betterAdsStatus": {
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ],
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ],
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string"
        }
      },
      "id": "PlatformSummary"
    },
    "ViolatingSitesResponse": {
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      },
      "id": "ViolatingSitesResponse"
    },
    "SiteSummaryResponse": {
      "description": "Response message for GetSiteSummary.",
      "type": "object",
      "properties": {
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "description": "Summary for the desktop review of the site.",
          "$ref": "PlatformSummary"
        },
        "mobileSummary": {
          "description": "Summary for the mobile review of the site.",
          "$ref": "PlatformSummary"
        }
      },
      "id": "SiteSummaryResponse"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "canonicalName": "Ad Experience Report",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/xapi.zoo": {
          "description": "Test scope for access to the Zoo service"
        }
      }
    }
  },
  "rootUrl": "https://adexperiencereport.googleapis.com/"
=======
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "version": "v1",
  "baseUrl": "https://adexperiencereport.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "description": "View Ad Experience Report data, and get a list of sites that have a significant number of annoying ads.",
  "basePath": "",
  "revision": "20171129",
  "documentationLink": "https://developers.google.com/ad-experience-report/",
  "id": "adexperiencereport:v1",
  "discoveryVersion": "v1",
  "version_module": true,
  "schemas": {
    "PlatformSummary": {
      "id": "PlatformSummary",
      "description": "Summary of the ad experience rating of a site for a specific platform.",
      "type": "object",
      "properties": {
        "betterAdsStatus": {
          "enum": [
            "UNKNOWN",
            "PASSING",
            "WARNING",
            "FAILING"
          ],
          "description": "The status of the site reviewed for the Better Ads Standards.",
          "type": "string",
          "enumDescriptions": [
            "Not reviewed.",
            "Passing.",
            "Warning.",
            "Failing."
          ]
        },
        "enforcementTime": {
          "description": "The date on which ad filtering begins.",
          "format": "google-datetime",
          "type": "string"
        },
        "region": {
          "description": "The assigned regions for the site and platform.",
          "type": "array",
          "items": {
            "enum": [
              "REGION_UNKNOWN",
              "REGION_A",
              "REGION_B"
            ],
            "type": "string"
          },
          "enumDescriptions": [
            "Ad standard not yet defined for your region.",
            "Region A.",
            "Region B."
          ]
        },
        "filterStatus": {
          "description": "The ad filtering status of the site.",
          "type": "string",
          "enumDescriptions": [
            "N/A.",
            "Ad filtering is on.",
            "Ad filtering is off.",
            "Ad filtering is paused.",
            "Ad filtering is pending."
          ],
          "enum": [
            "UNKNOWN",
            "ON",
            "OFF",
            "PAUSED",
            "PENDING"
          ]
        },
        "underReview": {
          "type": "boolean",
          "description": "Whether the site is currently under review."
        },
        "reportUrl": {
          "description": "A link that leads to a full ad experience report.",
          "type": "string"
        },
        "lastChangeTime": {
          "type": "string",
          "description": "The last time that the site changed status.",
          "format": "google-datetime"
        }
      }
    },
    "ViolatingSitesResponse": {
      "description": "Response message for ListViolatingSites.",
      "type": "object",
      "properties": {
        "violatingSites": {
          "description": "A list of summaries of violating sites.",
          "type": "array",
          "items": {
            "$ref": "SiteSummaryResponse"
          }
        }
      },
      "id": "ViolatingSitesResponse"
    },
    "SiteSummaryResponse": {
      "type": "object",
      "properties": {
        "reviewedSite": {
          "description": "The name of the site reviewed.",
          "type": "string"
        },
        "desktopSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the desktop review of the site."
        },
        "mobileSummary": {
          "$ref": "PlatformSummary",
          "description": "Summary for the mobile review of the site."
        }
      },
      "id": "SiteSummaryResponse",
      "description": "Response message for GetSiteSummary."
    }
  },
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  }
>>>>>>> Initial dep workover
}
