{
<<<<<<< HEAD
<<<<<<< HEAD
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "revision": "20170525",
  "id": "translate:v2",
  "discoveryVersion": "v1",
  "schemas": {
=======
  "servicePath": "language/translate/",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "kind": "discovery#restDescription",
=======
>>>>>>> Working on getting compiling
  "basePath": "/language/translate/",
  "revision": "20170525",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "id": "translate:v2",
  "discoveryVersion": "v1",
  "schemas": {
<<<<<<< HEAD
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest"
    },
>>>>>>> Initial dep workover
=======
>>>>>>> Working on getting compiling
    "LanguagesResource": {
      "type": "object",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      },
      "id": "LanguagesResource"
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      },
      "id": "DetectionsListResponse"
    },
    "GetSupportedLanguagesRequest": {
<<<<<<< HEAD
<<<<<<< HEAD
=======
      "description": "The request message for discovering supported languages.",
=======
>>>>>>> Working on getting compiling
      "type": "object",
>>>>>>> Initial dep workover
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
<<<<<<< HEAD
<<<<<<< HEAD
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "type": "object"
    },
    "LanguagesListResponse": {
=======
      "id": "GetSupportedLanguagesRequest"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
>>>>>>> Initial dep workover
      "type": "object",
=======
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages."
    },
    "LanguagesListResponse": {
>>>>>>> Working on getting compiling
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
<<<<<<< HEAD
<<<<<<< HEAD
      },
      "id": "LanguagesListResponse"
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
=======
      }
    },
    "DetectionsResource": {
>>>>>>> Initial dep workover
=======
      },
      "id": "LanguagesListResponse",
      "type": "object"
    },
    "DetectionsResource": {
      "description": "An array of languages which we detect for the given text The most likely language list first.",
>>>>>>> Working on getting compiling
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Working on getting compiling
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
          },
<<<<<<< HEAD
=======
>>>>>>> Initial dep workover
=======
>>>>>>> Working on getting compiling
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
<<<<<<< HEAD
<<<<<<< HEAD
          }
        }
      },
      "id": "DetectionsResource"
    },
    "TranslationsResource": {
      "properties": {
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
=======
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "format": "float",
            "type": "number"
=======
>>>>>>> Working on getting compiling
          }
        }
      },
      "id": "DetectionsResource"
    },
    "TranslationsResource": {
      "type": "object",
      "properties": {
<<<<<<< HEAD
>>>>>>> Initial dep workover
=======
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        },
>>>>>>> Working on getting compiling
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "translatedText": {
<<<<<<< HEAD
          "description": "Text translated into the target language.",
          "type": "string"
<<<<<<< HEAD
        }
      },
      "id": "TranslationsResource",
      "type": "object"
=======
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
=======
          "type": "string",
          "description": "Text translated into the target language."
>>>>>>> Working on getting compiling
        }
      },
      "id": "TranslationsResource"
>>>>>>> Initial dep workover
    },
    "TranslationsListResponse": {
      "description": "The main language translation response message.",
      "type": "object",
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "id": "TranslationsListResponse"
    },
    "TranslateTextRequest": {
<<<<<<< HEAD
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
=======
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "properties": {
>>>>>>> Initial dep workover
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
<<<<<<< HEAD
        }
      },
      "id": "TranslateTextRequest"
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest"
    }
  },
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
=======
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection."
    }
  },
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
>>>>>>> Initial dep workover
  },
  "protocol": "rest",
  "canonicalName": "Translate",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "rootUrl": "https://translation.googleapis.com/",
  "ownerDomain": "google.com",
  "name": "translate",
  "batchPath": "batch/translate",
  "features": [
    "dataWrapper"
  ],
  "title": "Google Cloud Translation API",
  "ownerName": "Google",
  "resources": {
<<<<<<< HEAD
    "detections": {
      "methods": {
        "list": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [
            "q"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "repeated": true,
              "location": "query",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "type": "string",
              "required": true
            }
          },
          "path": "v2/detect",
          "id": "language.detections.list",
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "id": "language.detections.detect",
          "description": "Detects the language of text within a request.",
          "request": {
            "$ref": "DetectLanguageRequest"
          }
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            },
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
<<<<<<< HEAD
              "type": "string",
              "location": "query"
            },
            "model": {
              "description": "The model type for which supported languages should be returned.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
=======
              "type": "string"
            }
          },
          "id": "language.languages.list",
          "path": "v2/languages",
          "description": "Returns a list of supported languages for translation."
>>>>>>> Initial dep workover
        }
      }
    },
=======
>>>>>>> Working on getting compiling
    "translations": {
      "methods": {
        "translate": {
          "path": "v2",
          "id": "language.translations.translate",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {}
        },
        "list": {
<<<<<<< HEAD
<<<<<<< HEAD
          "path": "v2",
          "id": "language.translations.list",
=======
>>>>>>> Initial dep workover
          "description": "Translates input text, returning translated text.",
=======
>>>>>>> Working on getting compiling
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [
            "q",
            "target"
          ],
          "httpMethod": "GET",
<<<<<<< HEAD
<<<<<<< HEAD
          "parameters": {
            "model": {
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "repeated": true,
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string",
              "required": true
=======
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
=======
>>>>>>> Working on getting compiling
          "parameters": {
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
>>>>>>> Initial dep workover
            },
            "source": {
              "location": "query",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string"
            },
            "cid": {
<<<<<<< HEAD
              "repeated": true,
              "location": "query",
              "description": "The customization id for translate",
              "type": "string"
=======
              "location": "query",
              "description": "The customization id for translate",
              "type": "string",
              "repeated": true
>>>>>>> Working on getting compiling
            },
            "target": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Working on getting compiling
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
<<<<<<< HEAD
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "translate": {
          "description": "Translates input text, returning translated text.",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "TranslationsListResponse"
          },
=======
              "type": "string"
            },
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
=======
>>>>>>> Working on getting compiling
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2",
          "id": "language.translations.list",
          "description": "Translates input text, returning translated text."
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [
            "q"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {
            "q": {
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.detections.list",
          "path": "v2/detect",
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "DetectionsListResponse"
          },
<<<<<<< HEAD
          "parameterOrder": [],
          "httpMethod": "POST",
>>>>>>> Initial dep workover
          "parameters": {},
=======
>>>>>>> Working on getting compiling
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
<<<<<<< HEAD
<<<<<<< HEAD
          "id": "language.translations.translate",
          "path": "v2"
=======
          "path": "v2/detect",
=======
          "parameters": {},
>>>>>>> Working on getting compiling
          "id": "language.detections.detect",
          "path": "v2/detect",
          "request": {
            "$ref": "DetectLanguageRequest"
<<<<<<< HEAD
          }
>>>>>>> Initial dep workover
=======
          },
          "description": "Detects the language of text within a request."
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "path": "v2/languages",
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "target": {
              "location": "query",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string"
            },
            "model": {
              "location": "query",
              "description": "The model type for which supported languages should be returned.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
>>>>>>> Working on getting compiling
        }
      }
    }
  },
  "parameters": {
<<<<<<< HEAD
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
<<<<<<< HEAD
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
=======
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
>>>>>>> Initial dep workover
      "location": "query"
    },
=======
>>>>>>> Working on getting compiling
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
<<<<<<< HEAD
<<<<<<< HEAD
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
=======
    "callback": {
      "location": "query",
      "description": "JSONP",
>>>>>>> Initial dep workover
      "type": "string"
    },
    "$.xgafv": {
=======
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
>>>>>>> Working on getting compiling
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
<<<<<<< HEAD
      ],
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
=======
      ]
>>>>>>> Working on getting compiling
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
<<<<<<< HEAD
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
=======
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
<<<<<<< HEAD
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
>>>>>>> Initial dep workover
      "type": "string"
    },
=======
>>>>>>> Working on getting compiling
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "pp": {
<<<<<<< HEAD
<<<<<<< HEAD
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v2",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "servicePath": "language/translate/",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "kind": "discovery#restDescription",
  "basePath": "/language/translate/"
=======
      "location": "query",
=======
>>>>>>> Working on getting compiling
      "description": "Pretty-print response.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "bearer_token": {
      "location": "query",
      "description": "OAuth bearer token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    }
  },
  "version": "v2",
<<<<<<< HEAD
  "baseUrl": "https://translation.googleapis.com/language/translate/"
>>>>>>> Initial dep workover
=======
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "kind": "discovery#restDescription",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "servicePath": "language/translate/"
>>>>>>> Working on getting compiling
}
